.sidebar {
    width: 16vw;
    color: #a2a9b0;
    height: 100vh;
    background-color: #282a2c;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    transition: width 0.3s ease;
    font-size: 14px;
}

.sidebar.collapsed {
    width: 75px;
    padding: 0;
}

.sidebar.collapsed .appName,
.sidebar.collapsed .newChatBtn,
.sidebar.collapsed .sidebar-section {
    display: none;
}

.sidebar-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.newChatRow {
    padding: 15px 10px 0 10px;
    margin-bottom: 6px;
}

.newChatBtn {
    border: none !important;
    background-color: #282A2C;
    color: #A2A9B0;
    cursor: pointer;
    text-align: left;
    margin-bottom: -16px;
    padding: 10px;
    width: 100%;
}

.newChatBtn:hover {
    border-radius: 20px;
}

.collapseIconWrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.collapseIcon {
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s ease;
    margin: 0 -7px 0 0;
    padding: 8px;
}

.collapseIcon:hover {
    background-color: #444 !important;
}

.customTooltip {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 100;
}

.sidebar.collapsed .collapseIcon {
    margin-left: 8px;
}

.collapseIconWrapper:hover .customTooltip {
    opacity: 1;
    pointer-events: auto;
}

.tooltip-bottom {
    top: 120%;
    left: 60px;
    transform: translateX(-50%);
    transition: top 0.3s ease-in;
}

.tooltip-right {
    top: 120%;
    left: 50px;
    transform: translateX(-50%);
}

.sidebar-section {
    margin-top: 20px;
    padding: 0 10px;
}

.sidebar-section h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.sidebar-logo {
    width: 21%;
    object-fit: cover;
}

.chatsLabel {
    font-size: 14px !important;
}

/* Responsive Styles */

@media only screen and (max-width: 1119px) {
    .sidebar-header h2 {
        margin: 0;
        font-size: 1.1rem;
    }

    .sidebar-header button {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 998px) {
    .sidebar-header h2 {
        margin: 0;
        font-size: .9rem;
    }

    .sidebar-header button {
        font-size: .7rem;
    }
}

@media only screen and (max-width: 880px) {
    .sidebar-header h2 {
        margin: 0;
        font-size: .85rem;
    }

    .sidebar-header button {
        font-size: .6rem;
    }

    .sidebar-section h3 {
        font-size: .9rem;
    }
}

/* Ipad Air */
@media only screen and (max-width: 820px) {
    .sidebar-header h2 {
        margin: 0;
        font-size: .8rem;
    }

    .sidebar-header button {
        font-size: .6rem;
        padding: 6px;
    }

    .sidebar-section h3 {
        font-size: .8rem;
    }

    /*.sidebar-item {*/
    /*    font-size: .6rem;*/
    /*}*/
}

/* Iphone 14 Pro Max */
@media only screen and (max-width: 430px) {
    .sidebar-header {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .sidebar-header h2 {
        margin: 4px;
        font-size: 1rem;
    }

    .sidebar-header button {
        font-size: .6rem;
        padding: 6px;
    }

    .sidebar-section h3 {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    /*.sidebar-item {*/
    /*    font-size: .6rem;*/
    /*    padding: 6px;*/
    /*}*/
}
